[Desktop Entry]
Name=Logi Options+
Comment=Logitech Options+ for Linux (MX Master 3S)
Comment[pt_BR]=Logitech Options+ oficial para Linux (MX Master 3S)
Exec=logi-options
Icon=io.github.pixlone.logioptions.gtk
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;Utility;GTK;
StartupWMClass=io.github.pixlone.logioptions.gtk
Keywords=logitech;options;mouse;mx;master;3s;bluetooth;settings;
