[Desktop Entry]
Name=Logi Options+
Comment=Logitech Options+ oficial para Linux (MX Master 3S)
Exec=/home/gutopardini/Git/personal/logi-options-gtk/launch.sh
Icon=io.github.pixlone.logioptions.gtk
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;Utility;GTK;
StartupWMClass=io.github.pixlone.logioptions.gtk
Keywords=logitech;options;mouse;mx;master;3s;bluetooth;settings;
